/* Import Local CSS */
@import url('./reset.css');
@import url('./variables.css');

@media screen and (min-width : 320px) and (max-width : 767px) {
	html {
		font-size: 50%;
	}
	body {
		height: auto;
		padding-top: 8rem;
	}
	/* ### Common CSS ### */
	/* Layout */
	.container {
		min-height: auto;
		position: relative;
		padding-bottom: 32.8rem;
	}
	.wrap {
		width: 100%;
		position: relative;
		padding: 4rem 2rem;
	}
	/* header */
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
	}
	.bar-popup {
		display: none;
	}
	.main-header > div {
		width: 100%;
		height: 8rem;
		background-color: var(--pink);
		padding: 0 1.6rem;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
	}
	.main-header nav {
		position: fixed;
		top: 0;
		right: -100%;
		width: 70%;
		height: 100%;
		z-index: 1000;
		background-color: var(--white);
		transition: 0.5s;
	}
	.main-header nav.active {
		right: 0;
	}
	.main-header nav ul {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin: 8rem 0;
		border-top: 1px solid var(--light-gray);
	}
	.main-header nav ul li {
		width: 100%;
		padding: 4rem 0;
		border-bottom: 1px solid var(--light-gray);
	}
	.main-header .icon-box {
		display: none;
	}
	.mobile-nav {
		display: block;
		width: 3rem;
		height: 2.6rem;
		position: relative;
		z-index: 1000;
	}
	.mobile-nav span {
		position: absolute;
		display: block;
		width: 3rem;
		height: 0.1rem;
		background-color: var(--dark-gray);
		left: 0;
		transition: 0.5s;
	}
	.mobile-nav span:nth-child(2) {
		top: 50%;
	}
	.mobile-nav span:nth-child(3) {
		top: 100%;
	}
	.mobile-nav.active span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}
	.mobile-nav.active span:nth-child(2) {
		display: none;
	}
		.mobile-nav.active span:nth-child(3) {
		top: 50%;
		transform: rotate(-45deg);
	}
	/* Section - main slider */
	.main-container.slider {
		margin: 4rem 0 0 0;
	}
	.prev,
	.next {
		opacity: 0;
	}
	/* Section - best */
	.item-list {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
	}
	.item {
		height: auto;
		text-align: center;
	}
	.item .item-img {
		width: 100%;
		height: auto;
	}
	.item .item-img img {
		width: inherit;
		height: auto;
		object-fit: cover;
	}
	.item-content {
		height: auto;
		padding: 0;
	}
	/* Section - suggest */
	.suggest-container.slider {
		width: 100%;
		height: auto;
		position: relative;
	}
	.suggest-container.slider .prev {
		left: -8rem;
	}
	.suggest-container.slider .next {
		right: -8rem;
	}
	.suggest-wrapper {
		height: inherit;
	}
	.suggest-wrapper li {
		width: 100%;
		height : 41.3rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}
	.suggest-wrapper li .hover {
		display: none;
	}
	/* Section - ranking */
	.bullets {
		column-gap: 2rem;
	}
	.ranking-items {
		width: 100%;
		height: 56rem;
	}
	.ranking-items > li {
		width: 100%;
		height: inherit;
	}
	.ranking-item {
		flex-direction: column;
	}
	.ranking-slider,
	.top5 {
		width: 100%;
		height: calc(100% / 2);
	}
	.item.ranking div {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.item.ranking .item-img {
		width: 100%;
		height: 28rem;
	}
	.item.ranking .item-img img {
		width: 100%;
		height: 28rem;
		object-fit: contain;
	}
	.item.ranking .item-content {
		display: block;
		padding: 0;
	}
	.item.ranking .tags {
		justify-content: center;
	}
	.top5 {
		padding: 0;
	}
	/*  GNB  */
	.gnb {
		background-color: var(--pink);
		margin-top: 4rem;
		height: auto;
	}
	.gnb .wrap {
		padding: 4rem 2rem;
	}
	.gnb-logo-sns .logo {
		width: inherit;
		width: 18rem;
		height: 3.2rem;
		background: url('../images/logo.png') no-repeat center;
		background-size: contain;
	}
}
@media all and (min-width : 768px) and (max-width : 1023px) {
	body {
		height: auto;
		padding-top: 8rem;
	}
	/* ### Common CSS ### */
	/* Layout */
	.wrap {
		width: 100%;
		position: relative;
		padding: 4rem 2rem;
	}
	/* header */
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
	}
	.bar-popup {
		display: none;
	}
	.main-header > div {
		width: 100%;
		height: 8rem;
		background-color: var(--pink);
		padding: 0 1.6rem;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
	}
	.main-header nav {
		position: fixed;
		top: 0;
		right: -100%;
		width: 70%;
		height: 100%;
		z-index: 1000;
		background-color: var(--white);
		transition: 0.5s;
	}
	.main-header nav.active {
		right: 0;
	}
	.main-header nav ul {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin: 8rem 0;
		border-top: 1px solid var(--light-gray);
	}
	.main-header nav ul li {
		width: 100%;
		padding: 4rem 0;
		border-bottom: 1px solid var(--light-gray);
	}
	.main-header .icon-box {
		display: none;
	}
	.mobile-nav {
		display: block;
		width: 3rem;
		height: 2.6rem;
		position: relative;
		z-index: 1000;
	}
	.mobile-nav span {
		position: absolute;
		display: block;
		width: 3rem;
		height: 0.1rem;
		background-color: var(--dark-gray);
		left: 0;
		transition: 0.5s;
	}
	.mobile-nav span:nth-child(2) {
		top: 50%;
	}
	.mobile-nav span:nth-child(3) {
		top: 100%;
	}
	.mobile-nav.active span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}
	.mobile-nav.active span:nth-child(2) {
		display: none;
	}
		.mobile-nav.active span:nth-child(3) {
		top: 50%;
		transform: rotate(-45deg);
	}
	/* Section - main slider */
	.main-container.slider {
		margin: 4rem 0 0 0;
	}
	.prev,
	.next {
		opacity: 1;
	}
	.prev {
		left: 2rem;
	}
	.next {
		right: 2rem;
	}
	/* Section - best */
	.item-list {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
	}
	.item {
		height: auto;
		text-align: center;
	}
	.item .item-img {
		width: 100%;
		height: auto;
	}
	.item .item-img img {
		width: inherit;
		height: auto;
		object-fit: cover;
	}
	.item-content {
		height: auto;
		padding: 0;
	}
	/* Section - suggest */
	.suggest-container.slider {
		width: 100%;
		height: auto;
		position: relative;
	}
	.suggest-container.slider .prev {
		left: -8rem;
	}
	.suggest-container.slider .next {
		right: -8rem;
	}
	.suggest-wrapper {
		height: inherit;
	}
	.suggest-wrapper li {
		width: 100%;
		height : 41.3rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}
	.suggest-wrapper li .hover {
		display: none;
	}
	/* Section - ranking */
	.bullets {
		column-gap: 2rem;
	}
	.ranking-items {
		width: 100%;
		height: 56rem;
	}
	.ranking-items > li {
		width: 100%;
		height: inherit;
	}
	.ranking-item {
		flex-direction: column;
	}
	.ranking-slider,
	.top5 {
		width: 100%;
		height: calc(100% / 2);
	}
	.item.ranking div {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.item.ranking .item-img {
		width: 100%;
		height: 28rem;
	}
	.item.ranking .item-img img {
		width: 100%;
		height: 28rem;
		object-fit: contain;
	}
	.item.ranking .item-content {
		display: block;
		padding: 0;
	}
	.item.ranking .tags {
		justify-content: center;
	}
	.top5 {
		padding: 0;
	}
	/*  GNB  */
	.gnb {
		background-color: var(--pink);
		margin-top: 4rem;
		height: auto;
	}
	.gnb .wrap {
		padding: 4rem 2rem;
	}
	.gnb-logo-sns .logo {
		width: inherit;
		width: 18rem;
		height: 3.2rem;
		background: url('../images/logo.png') no-repeat center;
		background-size: contain;
	}
}