/* Import Local CSS */
@import url('./reset.css');
@import url('./variables.css');

html {
	font-size: 62.5%; /* 100% = 16px | 62.5% = 10px */
}
body {
	margin: 0;
	color: var(--dark-black);
	font-size: 1.6rem;
	background-color: var(--white);
	overflow-x: hidden;
	height: 100%;
}
/* ###### Common CSS 공통영역 ###### */
/* Layout */
.container {
  width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 32.8rem;
}
button {
	cursor: pointer;
}
.wrap {
	position: relative;
	max-width: 128rem;
	margin: 0 auto;
	padding: 4rem 0;
}
.hide {
	font-size: 0;
}
/* header */
.bar-popup {
	background-color: var(--pink);
	display: block;
	text-align: center;
	padding: 1rem 0;
	font-size: 1.4rem;
}
.main-header {
	width: 100%;
}
.main-header > div {
	width: 128rem;
	height: 12.5rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-header .logo {
	color: transparent;
	width: 18rem;
	height: 3.2rem;
	background: url('../images/logo.png') no-repeat center;
	background-size: contain;
}
.main-header nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-weight: 500;
	font-size: 1.8rem;
	width: 60rem;
	height: 4rem;
	column-gap: 4rem;
	text-align: center;
}
.main-header nav ul li {
	flex: 1;
	height: inherit;
}
.main-header nav ul li a {
	display: block;
	height: inherit;
	align-content: center;
}
.main-header nav ul li:hover {
	font-weight: bold;
}
.main-header nav .mobile-login {
	display: none;
}
.main-header .icon-box {
	display: flex;
	align-items: center;
	column-gap: 4rem;
}
.main-header .icon-box .language {
	position: relative;
}
.main-header .icon-box .language,
.main-header .icon-box .language select {
	color: var(--dark-gray);
}
.main-header .icon-box .language span {
	padding-right: 10px;
}
.main-header .icon-box .language span:after {
	content: '';
	width: 0.1rem;
	height: 1.4rem;
	color: var(--dark-gray);
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translateY(-50%);
}
.main-header .icon-box .language select {
	border: none;
	outline: none;
}
.main-header .icon-box .icons a {
	font-size: 0;
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	vertical-align: middle;
	margin-right: 1.5rem;
}
.main-header .icon-box .icons a:nth-child(1) {
	background: url('../images/people.png') no-repeat center;
}
.main-header .icon-box .icons a:nth-child(2) {
	background: url('../images/cart.png') no-repeat center;
}
.main-header .icon-box .icons a:nth-child(3) {
	background: url('../images/search.png') no-repeat center;
	margin-right: 0;
}
.mobile-nav {
	display: none;
}
/*  GNB  */
.gnb {
	background-color: var(--pink);
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.gnb .wrap {
	margin: 0 auto;
	font-size: 1.4rem;
}
.gnb-logo-sns .logo {
	width: inherit;
	width: 18rem;
	height: 3.2rem;
	background: url('../images/logo.png') no-repeat center;
}
.gnb-logo-sns .sns a {
	width: 2.6rem;
	height: 2.8rem;
	display: inline-block;
	margin: 2rem 0;
	margin-right: 1rem;
	cursor: pointer;
}
.gnb-logo-sns .sns a:nth-child(1) {
	background: url('../images/instagram.png') no-repeat center;
}
.gnb-logo-sns .sns a:nth-child(2) {
	background: url('../images/kakao_talk.png') no-repeat center;
}
.gnb-logo-sns .sns a:nth-child(3) {
	background: url('../images/naver.png') no-repeat center;
}
.company-area li {
	display: inline-block;
	position: relative;
	padding-right: 1rem;
}
.company-area li:after {
	content: '';
	width: 1px;
	height: 1.2rem;
	background-color: var(--light-gray);
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.company-area li:last-child:after {
	display: none;
}
.company-info {
	padding-top: 2rem;
}
.company-info strong {
	padding-left: 2rem;
	font-size: 1.6rem;
}

/* ###### 메인페이지 영역 ###### */
/* Section - main slider */
.slider {
	position: relative;
}
.main-container.slider {
	margin-bottom: 4rem;
}
.main-container.slider > h2 {
	font-size: 0;
}
.main-wrapper li a img {
	width: 100%;
	min-height: 200px;
	object-fit: cover;
	position: relative;
}
.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	width: 3.6rem;
	height: 7.2rem;
	font-size: 0;
}
.prev {
	left: 10rem;
	background: url('../images/cm_arrow_left_gray_1.png') no-repeat center;
}
.next {
	right: 10rem;
	background: url('../images/cm_arrow_right_gray_1.png') no-repeat center;
}
/* Section - best */
.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 4rem;
}
.title a {
	color: var(--dark-gray);
}
.best-list {
	width: 100%;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}
.item {
	flex: 1;
	text-align: center;
	overflow: hidden;
}
.item .item-img img {
	width: 100%;
}
.item-content {
	padding: 1rem 0;
	line-height: 2.5rem;
}
.item-content .dec {
	color: var(--dark-gray);
	font-size: 1.4rem;
}
.badge {
	background-color: var(--pink);
	color: var(--white);
	padding: 0.1rem 0.8rem;
	line-height: 1.6rem;
	border-radius: 2.0rem;
	font-weight: 300;
	display: inline-block;
}
.item-content .item-title,
.item-content .price {
	font-weight: 500;
}
.item-content .price s {
	padding-left: 0.5rem;
}
.item-content .tags {
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-content .tags a {
	width: 2.4rem;
	height: 2.4rem;
	display: inline-block;
	font-size: 0;
	margin-right: 0.5rem;
}
.item-content .tags a:nth-child(1) {
	 background: url('../images/heart.png') no-repeat center;
	 transform: translateY(0.2rem);
	 background-size: 2rem;
}
.item-content .tags a:nth-child(2) {
	 background: url('../images/cart.png') no-repeat center;
	 background-size: 2rem;
}
/* Section - suggest */
.suggest-container.slider {
	height: 41.3rem;
	position: relative;
}
.suggest-container.slider .prev {
	left: -8rem;
}
.suggest-container.slider .next {
	right: -8rem;
}
.suggest-wrapper {
	height: inherit;
}
.suggest-wrapper .slick-list {
	margin: 0 -1rem;
}
.suggest-wrapper .slick-slide {
	margin: 0 1rem;
}
.suggest-wrapper li {
	width: 41.3rem;
	height: 41.3rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.suggest-item-01 {
	background-image: url('../images/suggest-item-01.jpg');
}
.suggest-item-02 {
	background-image: url('../images/suggest-item-02.jpg');
}
.suggest-item-03 {
	background-image: url('../images/suggest-item-03.jpg');
}
.suggest-item-04 {
	background-image: url('../images/suggest-item-04.jpg');
}
.suggest-item-05 {
	background-image: url('../images/suggest-item-05.jpg');
}
.suggest-wrapper li .hover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.5s;
}
.suggest-wrapper li:hover .hover {
	opacity: 1;
}
.suggest-wrapper li .hover div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
	color: var(--white);
	font-weight: 300;
}
.suggest-wrapper li .hover > div h2 {
	color: var(--pink);
	padding-bottom: 2rem;
}
/* Section - ranking */
.bullets {
	display: flex;
	justify-content: center;
	column-gap: 8rem;
	padding-bottom: 2rem;
	text-align: center;
	width: 100%;
}
.bullets label {
	border: 1px dashed var(--dark-gray);
	border-radius: 2rem;
	width: 10rem;
	padding: 1rem 0;
	cursor: pointer;
	transition: 0.3s;
}
.bullets label:hover {
	background-color: var(--pink);
	border: 1px solid transparent;
}
input[type=radio] {
	display: none;
}
.ranking-items {
	width: 100%;
	height: 28rem;
	position: relative;
}
.ranking-items > li {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 28rem;
}
input[id="slide1"]:checked ~ .bullets label[for="slide1"],
input[id="slide2"]:checked ~ .bullets label[for="slide2"],
input[id="slide3"]:checked ~ .bullets label[for="slide3"],
input[id="slide4"]:checked ~ .bullets label[for="slide4"]{
	background-color: var(--pink);
	border: 1px solid transparent;
}
input[id="slide1"]:checked ~ .ranking-items .slide1,
input[id="slide2"]:checked ~ .ranking-items .slide2,
input[id="slide3"]:checked ~ .ranking-items .slide3,
input[id="slide4"]:checked ~ .ranking-items .slide4 {
	opacity: 1;
}
.ranking-item {
	width: inherit;
	height: inherit;
	display: flex;
}
.ranking-slider,
.top5 {
	width: calc(100% / 2);
	align-content: center;
}
.item.ranking .item-img {
	width: 28rem;
	height: 28rem;
}
.item.ranking div {
	width: 100%;
	display: flex;
	align-items: center;
}
.item.ranking .item-img img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}
.item.ranking .item-content {
	display: block;
	padding: 0 4rem;
}
.item.ranking .small-title {
	font-size: 1.4rem;
}
.item.ranking .tags {
  justify-content: flex-start;
}
.badge.count {
	color: var(--white);
	background-color: var(--dark-black);
	margin-bottom: 1rem;
	border-radius: 0;
}
.top5 {
	padding: 0 4rem;
}
.top5 ol {
	counter-reset: rank;
}
.top5 ol li {
	padding: 1rem 0;
	width: 100%;
}
.top5 ol li:before {
	counter-increment: rank;
	content: counter(rank);
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 300;
	margin-right: 1rem;
	color: var(--white);
	border-radius: 50%;
	background-color: var(--dark-black);
}

/* ###### 로그인 영역 ###### */
.login {
	text-align: center;
	padding: 8rem 0;
}
.login-logo {
	margin-bottom: 2.0rem;
}
.login-form {
	margin-top: 4rem;
}
.login-form input {
	width: 42rem;
	height: 5.4rem;
	display: block;
	margin: 0 auto;
	margin-bottom: 2.0rem;
	outline: none;
	border: 1px solid var(--light-gray);
	padding-left: 6.0rem;
}
.login-form input::placeholder {
	font-size: 1.6rem;
}
.login-form input:focus::placeholder {
	visibility: hidden;
}
.login-form input[type=text] {
	background: url('../images/person.png') no-repeat center left 2.0rem; 
}
.login-form input[type=password] {
	background: url('../images/lock.png') no-repeat center left 2.0rem; 
}
.login-find {
	width: 42rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
}
.login-find label {
	font-weight: 500;
}
.login-find label input[type=checkbox] {
	margin-right: 1rem;
	width: 1.8rem;
	height: 1.8rem;
	vertical-align: middle;
}
.login-find div:last-child {
	color: var(--dark-gray);
}
.login-find div:last-child a:first-child {
	margin-right: 2.0rem;
}
.login-sns {
	width: 50rem;
	padding : 4.0rem 0;
	border-bottom: 1px solid var(--light-gray);
	margin: 0 auto;
}
.btn-sns-login,
.btn-sign-in {
	display: block;
	width: inherit;
	height: 5.4rem;
	margin-bottom: 2.0rem;
	outline: none;
	border: none;
	font-size: 1.6rem;
	font-weight: 500;
}
.btn-sns-login:nth-child(1) {
	background-color: #262626;
	color: var(--white);
}
.btn-sns-login:nth-child(2) {
	background-color: #F2CB05;
}
.btn-sns-login:nth-child(3) {
	margin-bottom: 0;
	background-color: #58A633;
	color: var(--white);
}
.login-benefit {
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 50rem;
	height: 20rem;
}
.login-benefit img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}
.btn-sign-in {
	background-color: var(--white);
	border: 1px solid var(--dark-black);
	margin: 0 auto;
	width: 50rem;
}
.btn-sign-in:hover {
	background-color: var(--dark-black);
	color: var(--white);
}
.login-non-members {
	width: 60rem;
	margin: 0 auto;
	margin-top: 2.0rem;
	color: var(--dark-gray);
}
.login-non-members a {
	margin-right: 2.0rem;
	font-size: 1.4rem;
}
.login-non-members a:last-child {
	margin: 0;
}

/* ###### 아이템 리스트 페이지 영역 ###### */
.tab-category {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
	padding-bottom: 4rem;
}
.tab-category li {
	width: 8.9rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--dark-black);
	border-radius: 0.5rem;
}
.tab-category li.active {
	border: 1px solid transparent;
	background-color: var(--pink);
	color: var(--white);
}
.filter-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
}
.filter-wrap .filter {
	display: flex;
	font-size: 1.4rem;
	color: var(--dark-gray);
	column-gap: 2rem;
}
.best-item-list {
	display: grid;
	grid-template-columns: repeat(4 ,1fr);
	grid-gap: 2rem;
}
.button-bar {
	margin: 8rem 0 4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-bar .page-btn {
	width: 3.5rem;
	height: 3.5rem;
	outline: none;
	border: 1px solid var(--dark-gray);
	vertical-align: middle;
}
.button-bar .page-btn:nth-child(1) {
	background: url('../images/chevron-double-left.png') no-repeat center;
}
.button-bar .page-btn:nth-child(2) {
	background: url('../images/chevron-left.png') no-repeat center;
}
.button-bar .page-btn:nth-last-child(1) {
	background: url('../images/chevron-double-right.png') no-repeat center;
}
.button-bar .page-btn:nth-last-child(2) {
	background: url('../images/chevron-right.png') no-repeat center;
}

/* ###### 제품 상세 페이지 영역 ###### */
/* section - item-category */
.detail-area {
	width: 100%;
	display: flex;
  justify-content: space-between;
}
.left-area {
	flex: 1;
}
.left-area .big-img {
	margin: 0 auto 1rem 0;
}
.left-area .big-img img {
	width: 100%;
  min-height: 60rem;
  aspect-ratio: 1 / 1 ;
}
.left-area .list-img {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.left-area .list-img ul {
	font-size: 0;
}
.left-area .list-img ul li {
	display: inline-block;
	width: 12.5rem;
	height: 12.5rem;
	margin: 0 1rem 0 0;
	vertical-align: top;
}
.left-area .list-img ul li > img {
	width: inherit;
	height: inherit;
	aspect-ratio: 1 / 1 ;
}
.right-area {
	width: 50%;
}
.right-area-wrap {
	margin-left: 4rem;
}
.prd-info {
	border-bottom: 1px solid var(--light-gray);
}
.prd-info .heading .dec {
	color: var(--dark-gray);
}
.prd-detail-design {
	padding: 2rem 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.prd-detail-design table {
	border: 1px solid transparent;
	font-size: 1.4rem;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}
.prd-detail-design table tr th {
	width: 8rem;
	font-weight: 500;
	padding: 2rem 0;
}
.prd-detail-design table tr td > b,
.prd-detail-design table tr td > span {
	font-weight: 500;
}
.prd-detail-design table tr td > s {
	margin-left: 2rem;
}
.prd-detail-design .sns-share a {
	width: 4.5rem;
	height: 4.5rem;
	display: inline-block;
	position: relative;
}
.prd-detail-design .sns-share a > img {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.prd-option {
	padding: 0;
	border-bottom: 1px solid var(--dark-gray);
}
.prd-option .count {
  width: 100%;
}
.prd-option .count table {
  width: inherit;
}
.prd-option .count table thead > tr > th {
	padding: 0;
}
.prd-option .option-add td:nth-child(2),
.prd-option .option-add td:nth-child(3) {
	text-align: right;
}
.prd-option .option-add .item-count {
	display: inline-block;
	position: relative;
	width: 7.5rem;
	padding: 0 1.0rem;
	height: 2.5rem;
}
.prd-option .option-add .item-count input {
	width: 4.5rem;
	height: 2.7rem;
	border: 1px solid var(--light-gray);
	border-radius: 5px 0 0 5px;
	text-align: center;
	outline: none;
}
.prd-option .option-add .item-count a {
	position: absolute;
	width: 3.0rem;
}
.prd-option .option-add .item-count a:nth-child(2) {
	height: calc(2.5rem / 2);
	border: 1px solid var(--light-gray);
	top: 0.1rem;
	right: -2rem;
	border-radius: 0 5px 0 0;
	border-left: none;
	background: url(../images/chevron-up.png) no-repeat center;
}
.prd-option .option-add .item-count a:nth-child(3) {
	height: calc(2.5rem / 2);
	border: 1px solid var(--light-gray);
	bottom: -0.1rem;
	right: -2rem;
	border-radius: 0 0 5px 0;
	border-left: none;
	background: url(../images/chevron-down.png)  no-repeat center;
}
.total-price {
	padding: 4rem 0;
	text-align: right;
	color: var(--dark-gray);
	font-size: 1.4rem;
}
.total-price strong {
	color: var(--dark-black);
	font-size: 2.0rem;
	padding: 0 1rem;
}
.prd-action {
	width: 100%;
	height: 5.5rem;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	margin: 0 0 6rem;
}
.prd-action [class^='btn'] {
	flex: 1;
	border: 1px solid var(--dark-black);
	height: 100%;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.prd-action .btn-buy {
	width: 22.3rem;
	background-color: var(--dark-black);
	color: var(--white);
}
.prd-action .btn-cart ,
.prd-action .btn-wish {
	width: 18.8rem;
}
.naver-pay {
	width: 100%;
	border-top: 1px solid var(--dark-gray);
	padding: 1rem 0 0 0;
}
.npay-btn {
	width: 100%;
	height: 5.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
  gap: 2rem;
}
.npay-btn .text {
  width: 10%;
  min-width: 5.7rem;
}
.npay-btn .text span {
	display: block;
	font-size: 1.2rem;
}
.npay-btn .text span:first-child {
	font-weight: 500;
}
.npay-btn .btn-list {
  width: 90%;
  height: 5.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
  gap: 2rem;
}
.npay-btn .btn-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.npay-btn .btn-list .buy {
	width: 80%;
	border: 1px solid #0ABF04;
	border-radius: 0.5rem;
}
.npay-btn .btn-list .buy:before {
	content: url('../images/naver.png');
  margin-right: 1rem;
}
.npay-btn .btn-list .wish {
	width: 20%;
	border: 1px solid #0ABF04;
	border-radius: 0.5rem;
}
.npay-event {
	width: 100%;
	margin: 2rem 0;
	font-size: 1.4rem;
}
.npay-event a {
	display: block;
	width: 100%;
}
.npay-event a strong {
	padding-right: 4rem;
}
.product-suggestion {
	margin: 8rem 0;
}
.suggestion-items {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.suggestion-items .item {
	flex: 1;
}
.suggestion-items .item .item-title {
	font-weight: 400;
}
/* 탭메뉴:제품 상세 페이지 */
.product-detail-contents {
	width: 100%;
}
.product-detail-contents .detail-tabs {
	margin: 0 0 8rem 0;
	position: relative;
}
.detail-tabs .detail-tab {
	width: 100%;
	height: 5.5rem;
	display: flex;
}
.detail-tabs .detail-tab .tab-open {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--light-gray);
}
.detail-tabs .detail-tab .tab-open.active {
	border-top: 2px solid var(--dark-black);
}
.product-detail-img-wrap {
	width: 80%;
	margin: 0 auto;
}
.product-detail-img-wrap img {
	width: 100%;
}

/* ###### 게시판 영역 ###### */
.notice .wrap .title {
	display: block;
}
.notice .wrap .title > span {
	padding: 2rem 0 0 0;
	display: inline-block;
	color: var(--dark-gray);
}
.notice-table {
	margin: 4rem 0;
}
.notice-table table {
	border: 0;
	border-spacing: 0;
	border-bottom: 1px solid var(--light-gray);
	border-collapse: collapse;
	text-align: center;
}
.notice-table table colgroup {
	display: table-column-group;
}
.table-header > tr > th {
	background-color: var(--purple-gray);
	font-weight: 500;
	padding: 2rem 0;
	line-height: 3rem;
	border: none;
}
.table-list tr td {
	padding: 2rem 0;
}
.table-list tr .text {
	text-align: left;
	padding-left: 5rem;
}
.search-box	{
	text-align: center;
}
.search-box fleldset legend {
	font-size: 0;
}
.search-box fleldset p select {
	width: 10rem;
	height: 4rem;
	border-radius: 0.5rem;
	text-align: center;
	margin-right: 0.5rem;
	outline: none;
}
.search-box fleldset p input {
	height: 4rem;
	width: 21.1rem;
	margin-right: 0.5rem;
	border-radius: 0.5rem;
	outline: none;
	border: 1px solid var(--dark-black);
}
.search-box fleldset p a {
	display: inline-block;
	border: 1px solid var(--dark-black);
	width: 8.9rem;
	border-radius: 0.5rem;
	vertical-align: middle;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.4rem;
	background-color: var(--purple-gray);
}